.pizzaCard {
  border: 10px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #fff8f0;
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #c7a6ac inset !important;
  background-color: #c7a6ac !important;
  color: #22191b !important;
}