.chart-wrapper {
  width: 100%;
  max-width: 1400px;
  background-color: rgba(100, 100, 255, 0.1);
  margin: 0 auto;
  padding: 2rem;
 height: 600px;

  box-sizing: border-box;
  margin-left : 250px
}

@media (max-width: 600px) {
  .chart-wrapper {
     margin-left : 0px;
    padding: 1rem;
  }
}